@import "mediaqueries";

.contactIcon {
    color: $color-logo;
    background: white;
    border-radius: 50%;
    padding: 10px;
}

.gifEND {
    display: block;
    margin: 0 auto;
    height: 200px;
    border: 10px solid white;
}

#IconSet a{
    color: white;
}
