@import "mediaqueries";

.contactIcon {
    color: $color-logo;
    background: white;
    border-radius: 50%;
    padding: 10px;
}

@include break(640) {
    .iconTWO {
        transform: translateX(-100px);
    }
    .iconONE {
        transform: translateX(100px);
    }
};

.gifEND {
    display: block;
    margin: 20px auto 0 auto;
    width: 400px;
    height: 340px;
}
