@import "mediaqueries";

//those are the icons for facebook and such
.contactIcon {
    color: $color-logo;
    background: white;
    border-radius: 50%;
    padding: 10px;
}

//class for the gifs
.gifEND {
    display: block;
    margin: 0 auto;
    height: 200px;
    border: 10px solid white;
}

//overarching grid structure with the gifs and links
#IconSet a{
    color: white;
}
