footer {
    min-height: 56px;
    color: white;
    background: $color-primary-4;

    display: flex;
    justify-content: space-around;
    align-items: center;

    a .footer-button {
        color: white !important;
        background: $color-primary-2 !important;
    }
}
