@import "mediaqueries";

#full-list {
    text-align: center;
    //those are the heading for the table name and rating
    #asyncCallerName, #asyncCallerRating {
        cursor: pointer;
    }

    #asyncCallerRating {
        padding: 16px 20px;
    }

    .uk-label-danger {
        font-size: 0.7rem;
        padding: 2px 6px;
        border-radius: 3px;
    }

    tr:hover {
        th {
            color: white !important;
        }
        background: $color-logo;
        color: white !important;
        cursor: text;
        button {
            background: white !important;
            color: $color-logo !important;
        }
    }

    table {
        max-width: 1000px;
        margin: 0 auto;

        img {
            max-width: 60px;
            height: auto;
        }
    }

    .tableHeading {
        font-weight: bold !important;
        color: black !important;
        text-align: center;
    }

    .alignLeft {
        text-align: left;
    }
}

//this gets added to the active heading when sorting
.textDecorator {
    text-decoration: underline;
}

@include break(640) {
    .hideMobile {
        display: none;
    }
    .uk-card-body {
        padding: 10px !important;
    }
    .modalButton {
        padding: 0 10px;
    }
    #asyncCallerRating {
        padding: 16px 12px !important;
    }
}

@include breakMin(641) {
    #full-list {
        tr {
            font-size: 110%;
        }
        .uk-table td {
            padding: 8px 12px;
        }
    }
}

@include breakMin(800) {
    #full-list .uk-table td {
            padding: 8px 12px;
    }
}
