//rules for the elements inside the slider
@import "mediaqueries";

$amount: calc(5vw - 10px);

// welcoming section---------------------------------------------------------------

@include break(960) {
    #welcoming {
        #dbinfo {
            display: none;
        }
    }
};

@include break(700) {
    #info {
        img {
            display: none;
        }
    }
};

#welcoming {
    margin: 15px $amount 15px $amount;
    .uk-card {
        border: 1px solid black;
    }
    &>* {
        padding: 0 10px;
    }
}

#dbinfo tr:hover {
    th {
        color: white !important;
    }
    background: $color-logo;
    color: white !important;
    cursor: text;
}

// SLIDER CONTENT-------------------------------------------------------------

.sliderParent {
    display: flex;
    justify-content: center;
}

//PRELOADER IN THE SLIDER
#spinner {
    display: block;
}

//slider elements
.novel {
    border: 1px solid white;
    background: $color-primary-3;
    padding: 3%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 86vw;

    h1, h2, h3, h4, h5, h6 {
        font-family: "Space Mono", cursive;
        color: white !important;
    }

    .ranking {
        margin: 20px 0 0 0 !important;
    }

    img {
        height: 50vh;
        width: auto;
        border: 1px solid white;
    }

    .modalButton {
        margin: 20px 0 0 0;
    }
}

//------------------ media queries for the slider elements

@include breakMin(600) {
    .novel {
        max-width: 60vw;
    }
}

@include breakMin(800) {
    .novel {
        max-width: 50vw;
    }
}

@include breakMin(960) {
    .novel {
        max-width: 40vw;
    }
    .uk-cover-container {
        overflow: visible !important;
    }

@include breakMin(1040) {
    .novel {
        max-width: 30vw;
    }
};

//Arrows inside the slider
    .arrow {
        background: white !important;
        border: 1px solid black;
        svg {
            color: black;
        }
    }
}

@include breakMin(1200) {
    .novel {
        max-width: 25vw;
    }
}
