.uk-navbar {
    margin-bottom: 0 !important;
    background: $color-primary-4 !important;
    img {
        height: 80px;
    }
}

.uk-offcanvas-bar{
    background: $color-primary-4 !important;
}

.sidebar-image {
    height: 80px;
}
