.uk-navbar {
  margin-bottom: 0 !important;
  background: #0B0233 !important;
}

.uk-navbar img {
  height: 80px;
}

.uk-navbar img:hover {
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.uk-offcanvas-bar {
  background: #0B0233 !important;
}

.sidebar-image {
  height: 80px;
}

.sidebar-image:hover {
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  25% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  25% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media only screen and (max-width: 960px) {
  #welcoming #dbinfo {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  #info img {
    display: none;
  }
}

#welcoming {
  margin: 15px 15px 15px 0px;
}

#welcoming .uk-card {
  border: 1px solid black;
}

#dbinfo tr:hover {
  background: #b46cff;
  color: white !important;
  cursor: text;
}

#dbinfo tr:hover th {
  color: white !important;
}

.sliderParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#spinner {
  display: block;
}

.novel {
  border: 1px solid white;
  background: #1a0967;
  padding: 3%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 86vw;
}

.novel h1, .novel h2, .novel h3, .novel h4, .novel h5, .novel h6 {
  font-family: "Space Mono", cursive;
  color: white !important;
}

.novel .ranking {
  margin: 20px 0 0 0 !important;
}

.novel img {
  height: 50vh;
  width: auto;
  border: 1px solid white;
}

.novel .modalButton {
  margin: 20px 0 0 0;
}

@media only screen and (min-width: 600px) {
  .novel {
    max-width: 60vw;
  }
}

@media only screen and (min-width: 800px) {
  .novel {
    max-width: 50vw;
  }
}

@media only screen and (min-width: 960px) {
  .novel {
    max-width: 40vw;
  }
  .uk-cover-container {
    overflow: visible !important;
  }
}

@media only screen and (min-width: 960px) and (min-width: 1040px) {
  .novel {
    max-width: 30vw;
  }
}

@media only screen and (min-width: 960px) {
  .arrow {
    background: white !important;
    border: 1px solid black;
  }
  .arrow svg {
    color: black;
  }
}

@media only screen and (min-width: 1200px) {
  .novel {
    max-width: 25vw;
  }
}

footer {
  min-height: 56px;
  color: white;
  background: #0B0233;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a .footer-button {
  color: white !important;
  background: #2E1C7F !important;
}

#informationButton {
  display: block;
}

.modalNovel h4 {
  margin-top: 20px !important;
}

.modalNovel .uk-button {
  text-transform: none !important;
}

.modalNovel .pictureholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalNovel img {
  width: 70%;
  height: calc(1.333333 * 70%);
}

@media only screen and (max-width: 640px) {
  .modalNovel img {
    width: 80%;
    height: calc(1.333333 * 80%);
  }
}

.contactIcon {
  color: #b46cff;
  background: white;
  border-radius: 50%;
  padding: 10px;
}

.gifEND {
  display: block;
  margin: 0 auto;
  height: 200px;
  border: 10px solid white;
}

#IconSet a {
  color: white;
}

#full-list {
  text-align: center;
}

#full-list #asyncCallerName, #full-list #asyncCallerRating {
  cursor: pointer;
}

#full-list tr:hover {
  background: #b46cff;
  color: white !important;
  cursor: text;
}

#full-list tr:hover th {
  color: white !important;
}

#full-list tr:hover button {
  background: white !important;
  color: #b46cff !important;
}

#full-list table {
  max-width: 1000px;
  margin: 0 auto;
}

#full-list table img {
  max-width: 60px;
  height: auto;
}

#full-list .tableHeading {
  font-weight: bold !important;
  color: black !important;
  text-align: center;
}

#full-list .alignLeft {
  text-align: left;
}

.textDecorator {
  text-decoration: underline;
}

@media only screen and (max-width: 640px) {
  .hideMobile {
    display: none;
  }
  .uk-card-body {
    padding: 10px !important;
  }
}

@media only screen and (min-width: 641px) {
  #full-list tr {
    font-size: 110%;
  }
  #full-list .uk-table td {
    padding: 8px 8px;
  }
}

@media only screen and (min-width: 800px) {
  #full-list .uk-table td {
    padding: 8px 12px;
  }
}

.uk-card-primary {
  background: transparent !important;
}

.firstPicture {
  max-width: 500px;
  width: 100%;
  height: auto;
  border: 1px solid white;
}

.marginSetter {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.color3 {
  background-color: #1a0967 !important;
  color: white;
}

.paddingChange {
  padding: 0 !important;
}

.blackBorder {
  border: 1px solid black;
}

.verticalAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.novelCountry {
  border: 1px solid white;
  padding: 20px !important;
}

.novelCountry .title {
  color: white !important;
  height: 60px;
}

.novelCountry .ranking {
  color: white !important;
  margin: 20px 0 20px 0;
}

.novelCountry .coverCountry {
  width: 270px;
  height: 360px;
  border: 1px solid white;
}

#japanese .novelCountry .title {
  height: 80px;
}

.body-coloring {
  background-color: #453396;
}

.uk-button-primary {
  color: white !important;
  background: #b46cff !important;
}

.main {
  min-height: 100vh;
}

#chinese, #japanese, #korean, #dropped {
  padding: 15px;
}
