@import "mixins";

// NAVBAR -------------------------------------------------------------

.brand-logo img {
    height: 64px;
    width: auto;
}

@include media(600px) {
    .brand-logo img {
        height: 56px;
        width: auto;
    }
}

.hide-on-med-and-down {
    display: flex;
}

#search {
    border-radius: 32px 0 0 32px;
}

.sidenav-logo {
    background: #424242;
    height: 56px;
    img {
        transform: translateX(-10px);
    }
}

// MAIN AREA ---------------------------------------------------------------

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel {
    height: calc(100vh - 64px);
}

.carousel-item {
    width: 500px !important;
    height: auto !important;
    overflow-y: auto !important;
}

.novel {
    img {
        width: auto;
        height: 400px;
    }
    h4 {
        margin: 0;
    }
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    img {
        display: block;
        margin: 20px auto 20px auto;
    }
}

@include media(600px) {
    .novel {
        width: 100%;
        img {
            height: 300px;
        }
    }
    .carousel {
        height: calc(100vh - 52px);
    }

    .carousel-item {
        display: flex;
        align-items: center;
        height: calc(100vh - 52px) !important;
        width: 80vw !important;
    }
}

// FOOTER -----------------------------------------------------------------

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a {
        margin-left: 10px;
    }
}

.page-footer {
    padding: 10px;
}

// MODAL ---------------------------------------------------------------

.modalBOX {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent {
    .stickOn {
        position: sticky;
        top: 10px;
        margin: 0;
    }
    background-color: white;
    margin: 10vh auto;
    padding: 20px;
    width: 500px;
    height: 80vh;
    overflow: auto;
    img {
        display: block;
        margin: 20px auto 0 auto;
    }
    .link {
      display: block;
    }
    .title, .link, .ranking {
      text-align: center;
    }
}

@include media(599px) {
  .modal {
    padding-top: 0px;
  }
  .modalContent {
    background-color: white;
    margin: 9vh auto auto auto;
    padding: 20px;
    width: 80%;
    height: 80%;
    overflow: auto;
    .link {
      display: block;
    }
    .title, .link, .ranking {
      text-align: center;
    }
  }
}
